@media (max-width:480px) {
    .hero_section{
        justify-content: start;
    }
    nav{
        width: 100%;
        border-radius: 0;
        justify-content: space-between;
        background-color: transparent;
        border: none;
        padding: 0 10px;
    }
    nav .menu_label{
        display: block;
    }
    nav .my_pic{
        display: none;
    }
    nav .ul_box{
        display: block;
        border: 1px solid;
        position: absolute;
        height: 100vh;
        top: 0;
        left: -330px;
        background-color: black;
        /* z-index: 1; */
    }
    nav > div > ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 70%;
        
    }
    .hero_description{
        flex-direction: column;
        align-items: center;
    }
    .my_description {
        width: 100%;
        height: 25vh;
        z-index: -1;
    }
    .my_description h1{
        font-size: 320%;
    }
    .my_description strong{
        font-size: 150%;
    }
    .my_description p{
        display: none;
        font-size: 100%;
    } 
    .pic_box{
        width: 100%;
    }  
    input:checked ~ nav .ul_box{
        left: 0px
    }
};




@media (max-width: 768px) {
  /* phones & small tablets */
};
@media (min-width: 769px) and (max-width: 1024px) {
  /* tablets */
};
@media (min-width: 1025px) and (max-width: 1440px) {
  /* laptops */
};
@media (min-width: 1441px) {
  /* large screens */
};

