@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@keyframes circle {
    0%{
        background-position: center 0px;
    }
    25%{
        background-position: center 40px;
    }
    100%{
        background-position: center 0px;
    }
}
@keyframes textColor {
   0%{
    color: rgb(197, 117, 221);
   }
   25%{
    color: rgb(224, 66, 119);
   }
   50%{
    color: rgb(171, 231, 59);
   }
   75%{
    color: rgb(224, 66, 119);
   }
   100%{
    color: rgb(197, 117, 221);
   }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue';
}
.hero_section{
    width: 100%;
    height: 115vh;
    border: 1px solid;
    background-color: rgb(28, 28, 28);
    /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(imges/background_effect.png); */
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
nav{
    width: 50%;
    height: 8vh;
    border: 1px solid rgb(99, 97, 97);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
     background-color: rgba(255, 255, 255, 0.073);
    backdrop-filter: blur(100px);
}
nav > img{
    border-radius: 50%;
}
nav > .ul_box{
    width: 70%;
}
nav > div > ul{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}
li{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;

}

ul > li > a{
    color: gray;
    text-decoration: none;
    font-size: 150%;

}
ul > li > a:hover{
    color: rgb(210, 128, 5);
    transform: scale(1.10);
}
#dark_light_input{
    display: none;
}
.light_img{
    display: none;
}
#dark_light_input:checked + .dark_light_label > .dark_img{
    display: none;
}
#dark_light_input:checked + .dark_light_label > .light_img{
    display: block;
}
.hero_description{
    width: 100%;
    height: 90vh;
    border: 1px solid orange;
    display: flex;
    align-items: center;
    animation: circle 5s  ease infinite
}
.my_description{
    border: 1px solid white;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.my_description h1{
    font-size: 700%;
    text-align: center;
    color: #fabf29;
}
.my_description h1 span{
        animation: textColor 10s ease infinite;


}
.my_description strong{
    font-size: 250%;
    color: #f54e26;
}
.my_description p{
    width: 80%;
    font-size: 200%;
    text-align: justify;
    color:#fff6e8;
}
.pic_box{
    width: 50%;
    height: 70%;
    border: 1px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic_box img{
    width: 70%;
}