@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
*{
    font-family: "Share Tech";
    
}
.ah-heading{
    font-family: "Bungee";
}
.largeDevice-header{
    background-color: rgb(20, 20, 20);}
.header-li{
     cursor: url('/Hand.png'),auto;
}