@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@font-face {
    font-family: h1;
    src: url(../font-components/Fonts/Poppins/Poppins-ExtraBold.ttf)
}
@font-face {
    font-family: summary;
    src: url(../font-components/Fonts/Poppins/Poppins-Medium.ttf);
}



.mainDiv{
    background-color: rgb(20, 20, 20);
}
.name{
    font-family: h1;
}
.animation::before {
  content: "";
  background:rgb(20, 20, 20);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-left: 2px solid orange;
  animation: text 4s steps(7) infinite;
  /* height: 100%; */
}
@keyframes text {
    40% , 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
.my-name{
    background: linear-gradient(to right, rgb(227, 50, 250), rgb(184, 133, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.summary{
    font-family: summary;
}
